:root {
     --background-color: #0E0F19;
     --text-color: #F50057;
     --primary: #031D44;
     --section-color: #1B2845;
     --second-section-color: #083D77;
     --third-section-color: #0E1C36;
     --fourth-section-color: #EE964B;
}

section {
     max-height: 540px;
}

body {
     background-color: --background-color;
}

.username {
     color: #F9FAFB;
     font-weight: 600;
     font-size: 20px;
}

.userat {
     color: #F9FAFB;
     font-size: 13px;
     font-weight: bold;
     display: flex;
}

.anchor {
     text-decoration: none !important;
     color: var(--text-color) !important;
}

.custom {
     height: 59px;
}

.rese {
     background: var(--third-section-color);
}

#navbar {
     background: var(--background-color) !important;
}

.c {
     background: var(--section-color);
}

.sh1 {
     background: var(--primary) !important;
}

html {
     scroll-behavior: smooth;
}

#sidebar {
     width: 250px;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     z-index: 999;
     background: #7386D5;
     color: #fff;
     transition: all 0.3s;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
}


#sidebar .sidebar-header {
     padding: 20px;
     background: #6d7fcc;
}

#sidebar ul.components {
     padding: 20px 0;
     border-bottom: 1px solid #47748b;
}

#sidebar ul p {
     color: #fff;
     padding: 10px;
}

#sidebar ul li a {
     padding: 10px;
     font-size: 1.1em;
     display: block;
}

#sidebar ul li a:hover {
     color: #7386D5;
     background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
     color: #fff;
     background: #6d7fcc;
}

main {
     background-color: var(--background-color);
}

.txt {
     color: var(--text-color);
}

.navbar-brand {
     color: var(--text-color) !important;
     font-weight: bold;
}

ul.nav li a,
ul.nav li a:visited {
     color: var(--text-color) !important;
}

ul.nav li a:hover,
ul.nav li a:active {
     color: var(--text-color) !important;
}

ul.nav li.active a {
     color: var(--text-color) !important;
}